@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (pointer: fine) {
  body,
  a,
  button,
  input,
  textarea {
    cursor: none;
  }
}
